WP_DEBUG=0
SERVER_NAME=waq3.net:80
CADDY_ADMIN_EMAIL=admin@waq3.net

DB_HOST=db
DB_USER=exampleuser
DB_PASSWORD=replace-me
DB_ROOT_PASSWORD=replace-me
DB_NAME=exampledb
DB_TABLE_PREFIX=wp_

WP_SITEURL=https://waq3.net
WP_HOME=https://waq3.net

WP_REDIS_CACHE_HOST=redis
WP_REDIS_CACHE_PORT=6379

CACHE_LOC=/var/www/html/wp-content/cache
TTL=80000
PURGE_PATH=/__cache/purge
PURGE_KEY=
BYPASS_HOME=false
BYPASS_PATH_PREFIXES=/wp-admin,/wp-content,/wp-includes,/wp-json,/feed
CACHE_RESPONSE_CODES=000

LOCAL_PHPMYADMIN_PORT=8086
